.admin-list
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    padding: 20px
    list-style: none
    &__element

    &__photo
        width: 100px
        height: 100px
        border-radius: 50%
    &__name
        color: white
        text-align: center
    &__admin-castom-name
        color: #b6b0b0
        text-align: center