.admin-list
    display: flex
    justify-content: space-between

    padding: 20px
    list-style: none
    &__element

    &__photo
        width: 100px
        height: 100px
        border-radius: 50%
    &__name
        color: white
        text-align: center