.header-container
    display: flex
    flex-direction: column
    justify-content: flex-end
    background-image: url(../img/1688975928719.gif)
    background-size: cover
    background-repeat: no-repeat

    height: 60vh
    &__header
        text-align: center
        color: white
    
    h1
        padding: 0 10px
        margin-bottom: 0
        background: linear-gradient(45deg, rgba(84,8,76,1) 0%, rgba(3, 3, 4, 0.5) 58%);
        font-size: 20px
        font-weight: 600

        text-align: center
        color: #e4e3ff
