.message-state
    margin-top: 10px
    border-collapse: collapse
    width: 50%
    margin: 0 auto
    font-family: Zlusa
    font-size: 25px
    color: white

    &__gold-user
        background-color: rgba(229, 255, 0, 0.4)

    &__silver-user
        background-color: rgba(169, 169, 169, 0.4)

    &__platinum-user
        background-color: rgba(232, 162, 49, 0.4)

    &__user:hover
        opacity: 0.5
        transition: all 0.5s

    th
        font-weight: 400
        border-top: 1px solid rgba(255, 255, 255, 0.5)

    td 
        border-top: 1px solid rgba(255, 255, 255, 0.5)
        text-align: center

        a
            color: white
    
    &-count
        font-size: 30px
        color: #ff0000