/*!***********************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./sass/main.sass ***!
  \***********************************************************************************************************/
@font-face {
  font-family: Zlusa;
  src: url(../2e9f3cc7a3099b635ce3.ttf) format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #54084c; }

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/1688975928719.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh; }
  .header-container__image {
    display: none; }
  .header-container h1 {
    font-family: Zlusa;
    font-size: 28px;
    padding: 0 10px;
    margin-bottom: 0;
    background: linear-gradient(45deg, #54084c 0%, rgba(3, 3, 4, 0.5) 58%);
    font-weight: 400;
    text-align: center;
    color: white; }

@media (min-width: 650px) {
  .header-container {
    padding: 20px;
    justify-content: stretch;
    flex-direction: row;
    background: none; }
    .header-container h1 {
      font-size: 35px;
      background: none;
      margin: auto auto; }
    .header-container__image {
      display: block;
      box-shadow: 0 0 15px 5px black; } }

.link-logo {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .link-logo:hover {
    opacity: 0.5; }

.admin-list {
  font-family: Zlusa;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  list-style: none; }
  .admin-list li {
    margin-top: 10px;
    cursor: pointer; }
    .admin-list li:focus {
      outline: none; }
  .admin-list__photo {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 15px 5px black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    transition: all 1s; }
    .admin-list__photo:hover {
      rotate: 360deg;
      transform: scale(1.4); }
  .admin-list__name {
    color: white;
    text-align: center; }
  .admin-list__admin-castom-name {
    color: #b6b0b0;
    text-align: center; }
  .admin-list__vip-user {
    animation: vip-shadow 0.5s infinite alternate;
    border: 2px solid gold; }
  .admin-list__slaziet {
    animation: slaziet 0.5s infinite alternate;
    border: 2px solid violet; }

@keyframes vip-shadow {
  0% {
    box-shadow: 0 0 15px 0px gold; }
  20% {
    box-shadow: 0 0 15px 1px gold; }
  40% {
    box-shadow: 0 0 15px 2px gold; }
  60% {
    box-shadow: 0 0 15px 3px gold; }
  80% {
    box-shadow: 0 0 15px 4px gold; }
  100% {
    box-shadow: 0 0 15px 5px gold; } }

@keyframes slaziet {
  0% {
    box-shadow: 0 0 15px 0px violet; }
  20% {
    box-shadow: 0 0 15px 1px violet; }
  40% {
    box-shadow: 0 0 15px 2px violet; }
  60% {
    box-shadow: 0 0 15px 3px violet; }
  80% {
    box-shadow: 0 0 15px 4px violet; }
  100% {
    box-shadow: 0 0 15px 5px violet; } }

.main-container__header {
  font-family: Zlusa;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: white;
  text-decoration: underline; }

.main-container__description {
  font-family: Zlusa;
  font-size: 25px;
  color: white;
  padding: 2px 10px;
  text-align: center;
  opacity: 0.9; }
  .main-container__description--hidden {
    height: 0;
    overflow: hidden; }

.more-button {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  border-color: black;
  color: white;
  margin-top: 5px;
  padding: 0 5px 0 5px;
  font-family: Zlusa;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer; }

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #290325;
  opacity: 0.95;
  font-family: Zlusa;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px; }
  .popup--hidden {
    display: none; }
  .popup__close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: inherit;
    background-image: url(../img/crosslinear_106242.svg);
    cursor: pointer; }
  .popup__admin-info {
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 60px;
    height: 35%;
    font-size: 25px;
    color: white; }
  .popup__admin-photo {
    box-shadow: 0 0 15px 5px black;
    border: 1px solid black;
    margin: auto 0;
    height: 100px;
    width: 100px;
    border-radius: 50%; }
  .popup__admin-names {
    display: flex;
    justify-content: space-around;
    flex-direction: column; }
  .popup__admin-name, .popup__admin-castomName {
    text-align: center; }
  .popup__admin-name {
    text-decoration: none;
    font-size: 30px;
    font-weight: 800; }
  .popup__admin-desc-header {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-decoration: underline; }
  .popup__admin-description {
    color: white;
    margin: 10px;
    font-size: 30px; }
  .popup__wrapper {
    margin: 0 auto; }

@media (min-width: 650px) {
  .popup {
    height: 400px;
    width: 600px;
    justify-content: space-between;
    flex-direction: row; }
    .popup__admin-info {
      flex-direction: column;
      width: 70%;
      height: 100%; }
    .popup__admin-photo {
      margin: 0 auto;
      height: 100px;
      width: 100px;
      background-color: white;
      border-radius: 50%; }
    .popup__admin-names {
      font-size: 40px; } }


/*# sourceMappingURL=main.css.map*/